---
import BaseLayout from "../layouts/BaseLayout.astro";
import PcelScraper from "../components/PcelScraper.astro";
---

<BaseLayout title="Brocoli Side | Price Tracker" sideBarActiveItemID="projects">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Brocoli Side Live Dashboard</div>
    <p class="text-lg mt-2 text-gray-500">Monitor de precios en tiempo real consumiendo API en C# y PostgreSQL</p>
  </div>

  <div class="mt-8">
    <PcelScraper />
  </div>
</BaseLayout>