---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Full Stack developer specialized in creating scalable applications with <b>JavaScript</b> 
    (Angular, React, Node.js) and <b> Python</b>  (Django), with an expert focus on data extraction 
    through Web Scraping with <b>C#</b>. I have a solid command of <b> HTML/CSS</b>  and Linux environments, 
    optimizing backend and frontend processes to maximize operational efficiency. My profile 
    combines technical agility with an intermediate level of <b> English</b>, facilitating integration 
    into multidisciplinary teams and solving complex problems. Passionate about technological innovation, 
    I focus my skills on developing robust solutions that generate immediate business value.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Benemérita Universidad Autónoma de Puebla"
      subtitle="University degree"
    />
    <TimeLineElement
      title="Centro de Bachillerato industrial y de servicios No. 03"
      subtitle="Higher Baccalaureate"
    />
    <TimeLineElement
      title="Launch X member Microsoft"
      subtitle="Computer Academic Training Center"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="NewBloom, México"
      subtitle="2025"
    >
      Software development for data management and organization through
      web systems.<br>
      • Design and implementatio<br>
      • Create the database to store clients, dates, appointment statuses, and
      notes.<br>
      <b>Tech stack:</b><br>
      JAVASCRIPT, HTML CSC.<br>
      <b>Tools:</b><br>
      BOOSTRAP.<br>
    </TimeLineElement>
    <TimeLineElement
      title="Techdata Solutions, México"
      subtitle="2024"
    >
      Software development for automated data extraction, processing, and storage from web sources:<br>
      • Design and implementation of automated web scrapers to extract structured data from dynamic websites.<br>
      • Clean, parse, and store extracted information (such as market trends, pricing, or product catalogs) into a relational database.<br>
      <b>Tech stack:</b><br>
      C#, SQL.<br>
      <b>Tools:</b><br>
      HTMLAGILITYPACK, SELENIUM, ENTITY FRAMEWORK.<br>    
    </TimeLineElement>
    <TimeLineElement
      title="Santa runner, México"
      subtitle="2023"
    > 
      Developed from video game logic:<br>
      • Project presentation.<br>
      • Object programming.<br>
      • Code implementation.<br>
      • Code debugging.<br>
      <b>Tech stack:</b><br>
      C#<br>
      <b>Tools:</b><br>
      Unity.  
    </TimeLineElement>
    <TimeLineElement
      title="Business Intelligence and data analyst"
      subtitle="2022"
    > 
      Production and efficiency monitoring:<br>
      • Analysis of downtime and line stoppages.<br>
      • Identifying bottlenecks.<br>
      • Evaluation of compliance with the production plan.<br>
      • Plant data integration (Industry 4.0).<br>
      • Support for operational decisions.<br>
      • Most common KPIs in automotive production.<br>
      <b>Tech stack:</b><br>
      DAX.<br>
      <b>Tools:</b><br>
      POWER BI.  
    </TimeLineElement>       
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.linkedin.com/in/jesus-gaal-gaal-4445673bb/overlay/Certifications/1079648698/treasury?profileId=ACoAAGZrg7QBKwPsn_yxsfCWjwWkS7_UrHH0qVc" target="_blank">Become a full stack web developer</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/jesus-gaal-gaal-4445673bb/overlay/Certifications/1079531806/treasury?profileId=ACoAAGZrg7QBKwPsn_yxsfCWjwWkS7_UrHH0qVc" target="_blank">Web development: Automated quality control</a>
    </li>
    <li>
  <a href="https://www.linkedin.com/in/jesus-gaal-gaal-4445673bb/overlay/Certifications/1079416598/treasury?profileId=ACoAAGZrg7QBKwPsn_yxsfCWjwWkS7_UrHH0qVc" target="_blank">MySQL esencial</a>
</li>
<li>
  <a href="https://www.linkedin.com/in/jesus-gaal-gaal-4445673bb/overlay/Certifications/1079317463/treasury?profileId=ACoAAGZrg7QBKwPsn_yxsfCWjwWkS7_UrHH0qVc" target="_blank">Advanced JavaScript: Regular Expressions</a>
</li>
<li>
  <a href="https://www.linkedin.com/in/jesus-gaal-gaal-4445673bb/overlay/Certifications/1079019026/treasury?profileId=ACoAAGZrg7QBKwPsn_yxsfCWjwWkS7_UrHH0qVc" target="_blank">Essential JavaScript</a>
</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java Script</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>C#</li>
    <li>C</li>
    <li>C++</li>
    <li>SQL</li>
    <li>Java</li>
    <li>Angular</li>
    <li>React</li>
    <li>Flutter</li>
    <li>Nodejs</li>
    <li>Django</li>
    <li>PostgreSQL</li>
    <li>SQLAlquemist</li>
  </ul>
</BaseLayout>