---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Full Stack developer specialized in creating scalable applications with <b>JavaScript</b> 
    (Angular, React, Node.js) and <b> Python</b>  (Django), with an expert focus on data extraction 
    through Web Scraping with <b> C#</b> . I have a solid command of <b> HTML/CSS</b>  and Linux environments, 
    optimizing backend and frontend processes to maximize operational efficiency. My profile 
    combines technical agility with an intermediate level of <b> English</b> , facilitating integration 
    into multidisciplinary teams and solving complex problems. Passionate about technological innovation, 
    I focus my skills on developing robust solutions that generate immediate business value.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Benemérita Universidad Autónoma de Puebla"
      subtitle="University degree"
    />
    <TimeLineElement
      title="Centro de Bachillerato industrial y de servicios No. 03"
      subtitle="Higher Baccalaureate"
    />
    <TimeLineElement
      title="Launch X member Microsoft"
      subtitle="Computer academic training center - [start year] to [end year] at [Study Center]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java Script</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>C#</li>
    <li>C</li>
    <li>C++</li>
    <li>SQL</li>
    <li>Java</li>
    <li>Angular</li>
    <li>React</li>
    <li>Flutter</li>
    <li>Nodejs</li>
    <li>Django</li>
    <li>PostgreSQL</li>
    <li>SQLAlquemist</li>
  </ul>
</BaseLayout>