---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
// 1. Aquí importamos el widget visual que creamos
import PcelScraper from "../components/PcelScraper.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Featured Projects</div>
  </div>

  <HorizontalCard
    title="Brocoli Side"
    img="/brocoli_5.webp"
    desc="An automated web scraping architecture built with C# and .NET 8 to track real-time prices of Apple products, specifically the MacBook Air, across major electronics retail stores. The backend utilizes XPath for precise DOM data extraction, stores historical pricing in a PostgreSQL relational database, and is containerized via Docker for continuous deployment on Render."
    url="#" 
    badge="BACKEND"
  />
  
  <div class="mt-6 mb-10">
    <PcelScraper />
  </div>

  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Otros Proyectos</div>
  </div>

  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
</BaseLayout>